{% extends 'website/base.html' %}
{% load static %}

{% block body %}
  <div class="row g-0 flex-fill bg-white">
    <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
      <div class="container container-tight my-5 px-lg-5">
        <div class="text-center mb-4">
          <a href="{% url 'website:home' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'images/logo_dark.svg' %}" height="36" alt="" /></a>
        </div>
        <h2 class="h3 text-center mb-3">Login to your account</h2>
        <form action="" method="post" autocomplete="off" novalidate="">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="username" class="form-control {% if form.username.errors %}is-invalid{% endif %}" name="{{ form.username.name }}" placeholder="username" autocomplete="off" {% if form.username.value %}value="{{form.username.value}}"{% endif %} />
            {% if form.username.errors %}
            <div class="invalid-feedback">{{form.username.errors}}</div>
            {% endif %}
          </div>
          <div class="mb-2">
            <label class="form-label">
              Password
              <span class="form-label-description"><a href="{% url 'website:password-forgot' %}">I forgot password</a></span>
            </label>
            <div class="input-group input-group-flat">
              <input type="password" class="form-control {% if form.password.errors %}is-invalid{% endif %}" name="{{ form.password.name }}" placeholder="Your password" autocomplete="off"  {% if form.password.value %}value="{{form.password.value}}"{% endif %} />
              <span class="input-group-text {% if form.password.errors %}border-red {% endif %}">
                <a href="#" class="link-secondary {% if form.password.errors %}text-red {% endif %}" data-bs-toggle="tooltip" aria-label="Show password" data-bs-original-title="Show password">
                  <!-- Download SVG icon from http://tabler-icons.io/i/eye -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0"></path>
                    <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6"></path>
                  </svg>
                </a>
                
              </span>
                          <div class="invalid-feedback">{{form.password.errors}}</div>

            </div>
            {% if form.password.errors %}
            <div class="invalid-feedback">{{form.password.errors}}</div>
            {% endif %}
          </div>
          <div>
            <label class="form-check">
              <input type="checkbox" class="form-check-input" />
              <span class="form-check-label">Remember me on this device</span>
            </label>
          </div>
          {% if form.non_field_errors %}
          <div class="bg-red-lt p-2 rounded-2">
            <ul class="errorlist mb-0">
              {% for error in form.non_field_errors %}
              <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %} 
          <div class="form-footer mt-3">
            <button type="submit" class="btn btn-dark btn-primary w-100">Sign in</button>
          </div>
        </form>
        <div class="text-center text-secondary mt-3">
          Don't have account yet? <a href="{% url 'website:signup' %}" tabindex="-1">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Photo -->
      <div class="bg-cover h-100 min-vh-100" style="background-image: url('{% static 'images/house_login.jpg' %}')"></div>
    </div>
  </div>
{% endblock %}
