<ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a href="#" class="nav-link {% if header_name == 'section' %} active {% endif %} " >
            <!-- Download SVG icon from http://tabler-icons.io/i/home -->
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-brand-databricks me-2" width="56" height="56"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 17l9 5l9 -5v-3l-9 5l-9 -5v-3l9 5l9 -5v-3l-9 5l-9 -5l9 -5l5.418 3.01"/>
            </svg>
            Section</a>
    </li>
    {% comment %} <li class="nav-item" role="presentation">

        <a href="#" class="nav-link {% if header_name == 'inventory' %} active {% endif %} " >
            <!-- Download SVG icon from http://tabler-icons.io/i/home -->
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler icon-tabler-building-warehouse me-2" width="56" height="56"
                 viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none"
                 stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 21v-13l9 -4l9 4v13"/>
                <path d="M13 13h4v8h-10v-6h6"/>
                <path d="M13 21v-9a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v3"/>
            </svg>
            Section1</a>
    </li> {% endcomment %}
</ul>